<!DOCTYPE html>
<html>
  <head>
    <meta  http-equiv='content-language' content='es'>
        <meta  http-equiv='Content-Type' content='text/html; charset=UTF-8'>
        <meta  name='language' content='es'>
        <meta  name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
        <title>Sistema de Control Estadístico de Producción Avicola</title>
        
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
    

  </head>
  <style type="text/css">
   .material-half-bg {
                height: 100vh;
                background-color: #e7e7e7;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
            }

            .material-half-bg .cover {
                background-color: #009688;
                height: 50vh;
            }
  </style>
  <body>
    <div id="app">
      <section class="material-half-bg">
                <div class="cover"></div>
            </section>
    </div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- webpack builds are automatically injected -->
  </body>
  <!--<script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/pace.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/sweetalert.min.js"></script>
     <!--<script type="text/javascript" src="/static/js/plugins/bootstrap-datepicker.min.js"></script>-
    <script type="text/javascript" src="/static/js/plugins/select2.min.js"></script>
  <script type="text/javascript" src="/static/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/dataTables.bootstrap.min.js"></script>-->
</html>
